@media screen and (min-width: 768px) 
{
    .container {
        width: 100%;
        min-width: 768px;
        padding: 0 16px;
        margin: 0 auto;
    }
/* ---------Section-Head----------- */

.header-list {
    display: block;
    padding: 16px 0;
}

.header-list li:not(:last-child) {
    margin-bottom: 12px;
}

.navigation-list {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: flex;
    gap: 40px;
}

.navigation-item {
    padding: 24px 0;
}

.header-container {
    display: flex;
    justify-content: space-between;
}

.header-border {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.menu-btn {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

a.navigation-text {
    color: #2e2f42;
    padding: 24px 0;
    display: block;
}

a.address-text {
    color: #2a2e85;
    padding: 0;
    display: block;
}

.link.current {
    position: relative;
}

.link.current::after {
    content: '';
    position: absolute;
    left: 0px;
    bottom: -1px;
    background-color: #404bbf;
    border-radius: 0.12rem;
    width: 100%;
    height: 4px;
    border-radius: 2px;
}

.menu-btn {
    display: none;
}

/* 
    /* ---------Section-Solutions----------- */
    .section-solutions {
        padding: 112px 0;
        min-width: 768px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/solution-bg-tab.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    @media screen and (min-resolution: 2dppx) {
        .section-solutions {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/solution-bg-tab-2x.jpg);
        }
    }

    .section-solutions .title {
        max-width: 496px;
        margin: 0 auto 36px;
        text-align: center;
    }
/* ---------Section-AboutUs-----------*/
.aboutus-item .subtitle {
font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: start;
}

.aboutus-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;

}

.aboutus-item {
    width: calc((100% - 24px) / 2);
}

        /* ---------Section-Team----------- */
        .team-item {
        width: calc((100% - 24px) / 2);
        }
    
        .team-list {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            gap: 24px;
        }
    
        .social-team-link {
            width: 100%;
            height: 100%;
            background-color: #4d5ae5;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
        .social-team-link:focus {
            background-color: #404bbf;
        }
    
        .social-team-link:hover {
            background-color: #404bbf;
        }
    
        .team-ico-item {
            width: 40px;
            height: 40px;
        }
    
        .social-svg {
            fill: var(--icon-color, #f4f4fd);
        }
    
        /* ---------Section-Portfolio----------- */
        .portfolio-list {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 72px 24px;
        }
    
        .portfolio-item {
            width: calc((100% - 24px) / 2);
        }
    
    /* ---------Section-Footer----------- */
    .footer {
        background: #2e2f42;
        padding: 100px 0;
    }

    .footer .container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: baseline;
        justify-content: flex-start;
        gap: 72px 24px;
        padding: 0 108px;  
    }



    .div-logo-footer {
        margin-right: 24px;
        text-align: start;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }



    .footer .team-ico-list {
        display: flex;
        gap: 16px;
        margin: 0;
    }

    .foot-text-ico {
        color: #f4f4fd;
        line-height: 1.5;
        letter-spacing: 0.02em;
        max-width: 264px;
        font-weight: 500;
        color: #FFFFFF;
        margin-bottom: 16px;
        text-align: start;
    }

    .div-send {
        width: 100%;
        margin-left: 0;
    }

    .div-send-fom {
        display: flex;
        flex-direction: row;
        gap: 24px;
        align-items: flex-start;
    }

    .send-text {
        font-weight: 500;
        font-size: 1rem;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #fff;
        margin-bottom: 16px;
        margin-right: auto;
        text-align: start;
        width: 264px;
    }

    .send-input {
        width: 264px;
    }
        /* ---------Modal----------- */
    
        .modal {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 4px;
            width: 408px;
            min-height: 584px;
            padding: 72px 24px 24px;
            box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 01px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgb(0, 0, 0, 0.2);
            background-color: #fcfcfc;
            transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
       
    
        .modal-form {
            width: 360px;
            min-height: 336px;
            margin: 0 auto;
        }
    
    
    
        .modal-check-div {
            width: 360px;
            height: 16px;
            display: flex;
            align-items: center;
            margin-bottom: 24px;
        }
    
       
    
        
}

